.container{
  background-color: #575757;
}
.dark div h1{
  color: #575757;
}
.dark div p{
  color: #7A7A7A;
}
.dark form h1:last-of-type{
  color: #343434;
}
.dark form p{
  color: #7A7A7A;
  margin-bottom: 30px;
}
.dark-gradient{
  background-image: linear-gradient(to right top, #232323, #272727, #2b2b2b, #303030, #343434);
}
/*INPUT*/
input{
  color:#fff;
  background: #343434;
}
/**BUTTON*/
.btn {
  display: block;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  margin: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #7A7A7A;
  border: none;
  border-radius: 50px;
}
.btn-primary {
  background: none;
  border: 3px solid #7A7A7A;
}
.btn-secondary {
  background: #343434;
  border: 3px solid #343434;
}