/**RESET*/
@import'reset.css';
/**MOBILE*/
@import'mobile.css';
/**LAYOUT*/
.container {
  display: flex;
  height: 100vh;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.social {
  padding-bottom: 60px;
}