*{ 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; 
}
label{ 
  display: none;
}
h1{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
p{
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 30px;
}
input{
  padding: 10px;
  margin: 5px 0;
  height: 50px;
  width: 40vw;
  font-size: 1em;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
}